
{% macro comments_form(form_name = "", name = "", email = "", content)%}

   <div class="center row">
            <div class="large-12 columns">
                <fieldset>
                    <form action="{{url_for('comment_add', post_id=post.id)}}"  method="POST">
                       <input type="hidden" name="approved" value="1"/>
                       <div class="row">
                         <div class="small-6 columns">
                            <input type="text" name="author" placeholder="Name" required/>
                          </div>
                          <div class="small-6 columns">

                           <input type="text" name="website"  placeholder="Website"/>
                            </div>
                            </div>


                         <textarea name="content" placeholder="Comment"  required/></textarea>

                        <button class="button tiny "  type="submit">Add</button>
                   </form>
              </fieldset>
              
            </div>
          </div>

{% endmacro %}
