


      
				 
    <input placeholder="post_id*" type="number" id="post_id" name="post_id"  ng-model="comment.data.attributes.post_id"  required>
       
    <input placeholder="author_name*" type="text" id="author_name" name="author_name"  ng-model="comment.data.attributes.author_name"  required>
       
    <input placeholder="author_email*" type="text" id="author_email" name="author_email"  ng-model="comment.data.attributes.author_email"  required>
       
    <input placeholder="author_url*" type="text" id="author_url" name="author_url"  ng-model="comment.data.attributes.author_url"  required>
       
    <input placeholder="created_on*" type="datetime" id="created_on" name="created_on"  ng-model="comment.data.attributes.created_on"  required>
       
    <textarea type="text" placeholder="content*" name="content" id="content" ng-model="comment.data.attributes.content"  required> </textarea> 
          
    <input placeholder="karma*" type="number" id="karma" name="karma"  ng-model="comment.data.attributes.karma"  required>
       
    <input placeholder="approved*" type="text" id="approved" name="approved"  ng-model="comment.data.attributes.approved"  required>
       
    <textarea type="text" placeholder="agent*" name="agent" id="agent" ng-model="comment.data.attributes.agent"  required> </textarea> 
          
    <input placeholder="type*" type="text" id="type" name="type"  ng-model="comment.data.attributes.type"  required>
       
    <input placeholder="parent*" type="number" id="parent" name="parent"  ng-model="comment.data.attributes.parent"  required>
       
                     
       

    <div class="form-button" > 
            <button  ng-disabled="loading" class="button-primary" type="submit" >                                        
                              
                              <span ng-hide="loading">Save</span>
                              <span ng-show="loading">Loading....</span></button> 
              
       </div> 
              

         
              
              
              

  

				
