
{% macro term_form(form_name = '', name='',slug='', description='', taxonomy='', parent=0)%}
<div class="center row">
    <div class="large-8 columns">
      <h4> {{ form_name }} terms</h4>

       <fieldset>
        <form action="" method="POST">

          <label>Term Name <small>required</small><input type="text" name="name" value="{{name}}" pattern="[\w\s-]{2,255}" title="Term name can contain alphanumeric/_/- chars or spaces with a min of 2 and a max of 255 chars" required/></label>
          <label>Slug <small>required</small><input type="text" name="slug" value="{{slug}}"  pattern="[\w\s-]{2,255}" title="Slug can contain alphanumeric/_/- chars or spaces with a min of 2 and a max of 255 chars" required/></label>
          <label>Description<input type="text" name="description" value="{{description}}" maxlength="255" /></label>
          <div class="row">

            <!-- TAXONOMY START -->

            {% if taxonomy == '' %}

               <div class="small-4 columns">
                 <label>Taxonomy
                   <select name="taxonomy">
                    <option value="tag">Tag</option>
                    <option value="category">Category</option>
                   </select>
                 </label>
                </div>

              {% elif taxonomy == 'tag' %}

                <div class="small-4 columns">
                  <label>Taxonomy
                    <select name="taxonomy">
                     <option value="tag"selected>Tag</option>
                     <option value="category">Category</option>
                    </select>
                  </label>
                 </div>

              {% elif taxonomy == 'category' %}

                   <div class="small-4 columns">
                     <label>Taxonomy
                       <select name="taxonomy">
                        <option value="tag">Tag</option>
                        <option value="category" selected>Category</option>
                       </select>
                     </label>
                    </div>

              {% endif %}
              <div class="small-4 columns">
               <label>Parent<input type="number" name="parent" value="{{parent}}" /></label>
              </div>
            </div>


              <button class="button "  type="submit">{{ form_name }}</button>




          </form>
          </fieldset>




    </div>
</div>

{% endmacro %}
