 {% extends "/admin/layout.html" %}
 {% block body %}
    
        <div class="center row">
            <div class="large-12 columns">
               <fieldset>  
                  <form action="" method="POST">             
                
                  <label>Category Name<input type="text" name="name" required/></label>              
                  <label>Description<input type="text" name="description" /></label>
                 
                      
                  <button class="button "  type="submit">Add</button>
                  </form>
                </fieldset>  
            </div>
        </div>
                
            
        
      
  {% endblock %}