
  {% extends "/admin/layout.html" %}
 {% block body %}
        <div class="center row">
            <div class="large-12 columns">
               <fieldset>
                <form action="" method="POST">

                  <label>Term Name<input type="text" name="name" value="{{ term.name }}" required/></label>
                  <label>Slug<input type="text" name="slug" value="{{term.slug}}" required/></label>
                  <label>Description<input type="text" name="description" value="{{term.description}}" /></label>
                  <label>taxonomy<input type="text" name="taxonomy" value="{{term.taxonomy}}" /></label>
                  
                     
                        <label>Parent<input type="text" name="parent" value="{{term.parent}}"/></label>
                      <div>
                     </div>

				 
				   <button class="button "  type="submit">Update</button>
                  </form>
                </fieldset>



				</div>
			  </div>


			 {% endblock %}






  <
