
  {% extends "/admin/layout.html" %}
 {% block body %}
        <div class="center row">
            <div class="large-12 columns">
               <fieldset>  
                <form action="" method="POST"> 
  
				  <input type="text" value="{{ term.name }}"  name="name" required/>	    
				  <input type="text" value="{{term.description}}" name="description"/>
				   <button class="button "  type="submit">Update</button>
                  </form>
                </fieldset>  
				      
  
                      			   
				</div>
			  </div>
			  
			 
			 {% endblock %}
			
   
  
   


  <
   
  
   

