<!DOCTYPE html>
  <html data-ng-app="App">
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="$state.current.title" > </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="static/css/posts.css">
  <link rel="stylesheet" href="static/css/font-awesome-4.6.3/css/font-awesome.min.css">
  <!-- JS  -->
    <script src="static/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
	
	
	

                        <!-- Controllers -->

   <script type="text/javascript" src="static/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
     <script type="text/javascript" src="static/node_modules/angular-resource/angular-resource.min.js"></script>
	 <script type="text/javascript" src="static/node_modules/angular-route/angular-route.min.js"></script>
	 
	 <script type="text/javascript" src="static/node_modules/angular-easyfb/build/angular-easyfb.min.js"></script>

    <script type="text/javascript" src="static/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="static/node_modules/angular-google-analytics/dist/angular-google-analytics.js"></script>
     <script type="text/javascript" src="static/node_modules/angularjs-toaster/toaster.min.js"></script>
     <script type="text/javascript" src="static/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

  </head>
<body>


  <header>

    <h2>The only way to learn a new programming language is by writing programs in it. - Dennis Ritchie</h2>
    <ul>
    <a href="https://www.facebook.com/captaindevops" target="_blank"><i class="fa fa-facebook-official" style="font-size:24px; color:blue"></i></a>
    <a href="https://www.instagram.com/leotravelnomad" target="_blank"><i class="fa fa-instagram" style="font-size:24px;color:brown"></i></a>
    <a href="https://plus.google.com/u/0/b/104889801713275137574/+Techarena51leog/" target="_blank">  <i class="fa fa-google-plus-square" style="font-size:24px;color:red"></i></a>
    <a href="https://twitter.com/CaptainDevops" target="_blank">  <i class="fa fa-twitter-square" style="font-size:24px;color:blue"></i></a>
      <i class="fa fa-pinterest-square" style="font-size:24px;color:red"></i>
    </ul>

  </header>
  <div class="main">

  <nav>
    <img src="https://b.thumbs.redditmedia.com/fjsnaSTjoTrXNTCvyRef8pMbC7KpSMuVLS1fKdMdbTg.jpg" >
    <p> Leo is a Web Developer and Shares his experience through this blog </p>

    <a ui-sref="index">Home</a>



    </nav>


  <article  ui-view>



    </article>


    <aside>
	
	
	 <!-- Begin MailChimp Signup Form -->
	 <div>
		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
		<style type="text/css">
			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
			/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
			   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
		<div id="mc_embed_signup">
		<form action="//techarena51.us6.list-manage.com/subscribe/post?u=c5c8cddc88dad20a7f362892b&amp;id=9d99173b31" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<div id="mc_embed_signup_scroll">
			<h2>Subscribe </h2>
		
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
		</label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c5c8cddc88dad20a7f362892b_9d99173b31" tabindex="-1" value=""></div>
			<div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
		</form>
		</div>
		<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		
		</div>
		<!--End mc_embed_signup-->
    
        <!-- Google Search -->
		
   
		
		   <!-- Google Search  End -->
    </aside>
  </div>
<toaster-container></toaster-container>

  <footer> </footer>
  
 
		
		
		
	

</body>
</html>
