       
{% extends 'layout.html' %}  
    {% block body %}
      <div class="row">
        <div class="large-12 columns">
         
          <h2 style="font-family:courier">Supportinc.net</h2>
          <hr/>
        </div>
      </div >
     
       
     
      <div class="row">     
         
        <div class="large-9 columns" role="content">
         {% for post in post %}
          <article>
     
            <h3><a href="#">{{ post.title }}</a></h3>
            
           
            
              {{ post.content|safe }}
                
     
          </article>
     
          <hr/>
     
          
  {% endfor %}     
        </div>
          
     
         
     
     
         
     
        <aside class="large-3 columns">
     
          <h5>Search</h5>
          <input type="text" name="search">
     
          <div class="panel">
            <h5>Featured</h5>
            <p>Backup your website at Just 5$ with Supportinc.net</p>
          </div>
          
          <h5>Recent Posts</h5>
          <ul>
           <li> How to install Selenium on Linux and automate your web tests</li>
           <li> Post number 2</li>
          </ul>
          
           <div class="panel">
            <h5>Featured</h5>
            <p>Backup your website at Just 5$ with Supportinc.net</p>
          </div>
     
          <h5> Latest Tweets </h5>
          
          
        </aside>
     
         
      </div>
     
       
     
     
       
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright 2015 Supportinc.net all rights reserved.</p>
            </div>
            
            </div>
          </div>
        </div>
      </footer>
     {% endblock %}