

	<h2 class="post-title">{{ post.data.attributes.title }}</h2>
  

     <div  class="flex-column" ng-bind-html="post.data.attributes.content" >
    </div>
    
	<div class="fb-comments" data-href="https://freddy-flask.herokuapp.com" data-numposts="5"></div>
	
	
	<script type="text/ng-template" id="comments.html">
      <div ng-if="pluginOn" onrender="rendered()" class="fb-comments" data-href="https://freddy-flask.herokuapp.com" data-numposts="5" data-colorscheme="light"></div>
    </script>
    
